.createAvatarForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  label {
    display: flex;
    flex-direction: column;
    width: 280px;

    & + label {
      margin-top: 8px;
    }

    > div {
      display: flex;
      align-items: center;
      position: relative;

      button {
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 8px;
      }
    }

    input, select {
      flex: 1;
      margin-top: 6px;
      padding: 6px 28px 6px 10px;
    }

    span {
      margin-top: 6px;
      font-size: 14px;
      height: 14px;
      color: red;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      a {
        display: flex;
        align-items: center;
        gap: 2px;
        text-decoration: underline;
        color: rgb(59, 59, 242);
      }
    }
  }

  button[type="submit"] {
    margin-top: 16px;
    width: 280px;
    height: 36px;
    background: #ABFF4F;
    border-radius: 16px;
    font-weight: bold;
    position: relative;
    
    transition: filter 0.2s;


    &:hover {
      filter: brightness(0.9);
    }
  }
}

.TooltipContent {
  text-align: center;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  color: black;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  width: 170px;
  background: #ABFF4F;
}

.TooltipArrow {
  fill: #ABFF4F;
}