.trail-animation {
  input {
    transition: 1.4s;

    &.vanish {
      opacity: 0;
    }
    
    &[name="trail-goalkepper"] {
      z-index: 1;

      &.trail-first-column-first-row {
        transform: translate(115px, -123px);
      }
      &.trail-first-column-second-row {
        transform: translate(115px, -41px);
      }
      &.trail-first-column-third-row {
        transform: translate(115px, 40px);
      }
      &.trail-first-column-fourth-row {
        transform: translate(115px, 123px);
      }

      &.trail-second-column-first-row {
        transform: translate(231px, -123px);
      }
      &.trail-second-column-second-row {
        transform: translate(231px, -41px);
      }
      &.trail-second-column-third-row {
        transform: translate(231px, 40px);
      }
      &.trail-second-column-fourth-row {
        transform: translate(231px, 123px);
      }

      &.trail-third-column-first-row {
        transform: translate(346px, -123px);
      }
      &.trail-third-column-second-row {
        transform: translate(346px, 0px);
      }
      &.trail-third-column-third-row {
        transform: translate(346px, 123px);
      }
    }
  }
}