.goalsAmountContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;

  
  margin-left: 3rem;
}

.goalsTable {
  width: 260px;

  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;

  h2 {
    text-align: center;
    background: #ABFF4F;
    padding: 0.5rem 0;
  }

  ul {
    padding: 1rem;
    background: #F8F9FA;
  }
}