.goalsAmountContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
  flex: 1;
}

.goalsTable {
  width: 260px;

  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;

  h2 {
    text-align: center;
    background: #ABFF4F;
    padding: 0.5rem 0;

    &.recordText {
      font-size: 1.25rem;
    }
  }

  ul {
    padding: 1rem;
    background: #F8F9FA;
  }
}