.content {
  position: relative;
  width: 400px;
  height: 300px;

  img {
    width: 400px;
    height: 300px;
  }
}

.trailAnimation {
  input {
    transition: 1.4s;

    &.vanish {
      opacity: 0;
    }
    
    &[name="trail-goalkepper"] {
      z-index: 1;

      &.trail-first-column-first-row {
        transform: translate(115px, -123px);
      }
      &.trail-first-column-second-row {
        transform: translate(115px, -41px);
      }
      &.trail-first-column-third-row {
        transform: translate(115px, 40px);
      }
      &.trail-first-column-fourth-row {
        transform: translate(115px, 123px);
      }

      &.trail-second-column-first-row {
        transform: translate(231px, -123px);
      }
      &.trail-second-column-second-row {
        transform: translate(231px, -41px);
      }
      &.trail-second-column-third-row {
        transform: translate(231px, 40px);
      }
      &.trail-second-column-fourth-row {
        transform: translate(231px, 123px);
      }

      &.trail-third-column-first-row {
        transform: translate(346px, -123px);
      }
      &.trail-third-column-second-row {
        transform: translate(346px, 0px);
      }
      &.trail-third-column-third-row {
        transform: translate(346px, 123px);
      }
    }
  }
}

.trailContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #007200;
  background: #00ff00;

  fieldset {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;

    &:nth-child(1) {
      justify-content: center;

      input:checked::after {
        content: '';
        display: flex;
        width: 22px;
        height: 22px;
        border-radius: 26px;
        background-color: #495057;
        border: 3px solid black;
      }
    }

    input {
      cursor: pointer;
      width: 22px;
      height: 22px;
      position: relative;

      &::after {
        content: '';
        display: flex;
        width: 22px;
        height: 22px;
        border-radius: 26px;
        background-color: #a4161a;
        border: 3px solid #660708;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:checked::after {
        border: 5px solid white;
      }
    }
  }
}