.createAvatarForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  label {
    display: flex;
    flex-direction: column;
    width: 280px;

    & + label {
      margin-top: 8px;
    }

    > div {
      display: flex;
      align-items: center;

      button {
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin: 0 8px;
          font-size: 18px;
        }
      }
    }

    input, select {
      flex: 1;
      margin-top: 6px;
      padding: 6px 10px;
    }

    span {
      margin-top: 6px;
      font-size: 14px;
      height: 14px;
      color: red;
    }
  }

  button[type="submit"] {
    margin-top: 16px;
    width: 280px;
    height: 32px;
  }
}