.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  margin: 0 2rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h2 {
      font-size: 2rem;
    }

    button {
      background-color: transparent;
      border: 0;
    }
  }

}

.TooltipContent {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}

.TooltipArrow {
  fill: white;
}

.messagesContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.message {
  display: flex;
  gap: 1rem;
}

.avatarInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  img {
    border-radius: 50%;
    border: 1px solid #ABFF4F;
  }
}

.textMessage {
  height: 100%;
  border: 1px solid #ABFF4F;
  border-radius: 6px;
  padding: 8px;
  background: #f2f2f2;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > a,
  & > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6px;
    padding: 0.5rem;

    transition: 0.2s;
  }

  & > a {
    color: #6767ee;
    border: 1px solid #6767ee;

    &:hover {
      color: white;
      background-color: #6767ee;
    }
  }

  & > button {
    color: red;
    border: 1px solid red;
    background-color: transparent;

    &:hover {
      color: white;
      background-color: red;
    }
  }
}

.AlertDialogOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 560px;
  max-height: 85vh;
  padding: 25px;
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: black;
  font-size: 1.4rem;
}

.AlertDialogDescription {
  margin: 1rem 0 1.5rem;
  color: gray;
  font-size: 1rem;
  line-height: 1.5;
}

.AlterDialogButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.DialogButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bold;
  height: 3rem;
  border: none;

  transition: background-color 0.2s;
}

.DialogCancelButton {
  background-color: rgb(238, 237, 239);
  color: rgb(96, 95, 103);

  &:hover {
    background-color: rgb(233, 232, 234);
  }
}

.DialogDeleteButton {
  background-color: rgb(255, 229, 229);
  color: rgb(205, 43, 49);  

  &:hover {
    background-color: rgb(253, 216, 216);
  }
}