.header {
  width: 100%;
  max-width: 1440px;
  padding: 0.5rem 2rem 2rem;
  margin: 0 auto;
  background: linear-gradient(-17deg, #99d98c, #184e77);
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 0px 7px 5px #ADB5BD;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  font-size: 4rem;
  text-align: center;

  .bra {
    color: #29BF12;
  }
  .zuca {
    color: #08BDBD;
  }
  .gol {
    color: #FF9914;
  }
}

.dataContainer {
  display: flex;
  align-items: center;
}

.playerData {
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;

  .playerLevel {
    display: flex;
    align-items: center;

    > img {
      border: 2px solid black;
      padding: 0.2rem;
      border-radius: 4px;
    }

    .levelData {
      margin-left: 0.5rem;
      font-size: 14px;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  .progressBarContainer {
    margin: 0.5rem 0 1rem;
    width: 100%;
    height: 10px;
    background: #e0e0de;
    border-radius: 20px;
    border: 1px solid black;

    .fillerProgressBar {
      height: 100%;
      background: #ABFF4F;
      border-radius: 20px;
      width: 72%;
    }
  }

  table {
    tr {
      font-size: 14px;
      font-weight: bold;
      height: 22px;
    }
  }
}

.teamLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 234px;
  position: relative;

  img {
    // width: 100%;
    // height: auto;
  }

  strong {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }
}