.container {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: #DEE2E6;
  border-radius: 10px;
}

.goalMessageContent {
  position: absolute;
  z-index: 2;
  width: 400px;
  height: 300px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  strong {
    color: white;
    font-size: 2rem;
  }
}

.content {
  position: relative;
  width: 400px;
  height: 300px;

  img {
    width: 400px;
    height: 300px;
  }
}

.kickSideButtonsContainer {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;

  button {
    border: none;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.7)
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.trailContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #007200;
  background: #00ff00;

  fieldset {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;

    &:nth-child(1) {
      justify-content: center;

      input:checked::after {
        content: '';
        display: flex;
        width: 22px;
        height: 22px;
        border-radius: 26px;
        background-color: #495057;
        border: 3px solid black;
      }
    }

    input {
      cursor: pointer;
      width: 22px;
      height: 22px;
      position: relative;

      &::after {
        content: '';
        display: flex;
        width: 22px;
        height: 22px;
        border-radius: 26px;
        background-color: #a4161a;
        border: 3px solid #660708;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:checked::after {
        border: 5px solid white;
      }
    }
  }
}